<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helen's Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Helen's Blog</a></h1>
    </header>
    
    <article>
        <time>published: 02.02.2022, 7:30</time>
        <h2><a href="">My first post</a></h2>
        <p>What's up with the sky these days?</p>
    </article>
    <article>
        <time>published: 02.02.2022, 12:14</time>
        <h2><a href="">My second post</a></h2>
        <p>I'm starting to wonder if I have the skills.</p>
    </article>
</body>
</html>